<div class="container">
  <div class="row top-row">
    <div class="col-md-3 col-md-offset-3 top-image">
    </div>
    <div class="col-md-3 login">
      <h1>instagram</h1>
      <p>友達の写真をチェックしよう</p>
      <%= link_to "新規登録", new_user_path, class: 'btn btn-info btn-lg' %>
      <br>
      <br>
      <%= link_to "ログイン", new_session_path, class: 'btn btn-info btn-lg' %>
    </div>
  </div>
</div>